p{font-style:italic;font-size:18px;text-align:justify;color:#1e4d31}
h1{font-weight:normal;font-size:50px;text-align:left; color:#93312a}
h2{font-weight:normal;font-size:50px;text-align:left; color:#BCA853}